<h1>Listing discussions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Read</th>
    <th>Admin</th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%=h discussion.title %></td>
    <td><%= link_to 'Read', project_discussion_path(@project,discussion) %></td>
    <td><%= link_to 'Edit', edit_project_discussion_path(@project, discussion) %>
    <%= link_to 'Destroy', project_discussion_path(@project,discussion), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New discussion', new_project_discussion_path %>