<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to pManagr, <%= @recipient.name %></h1>
    <p>
    You are being invited by <%= @sender.name %> to join the project "<%= @project.name %>". <br />
    You account has been created for you. Please follow the following link to set up your account. <br />
    <a href="http://localhost:3000/users/register/<%= @recipient.id %>?token=<%= @token %>">http://localhost:3000/users/register/<%= @recipient.id %>?token=<%= @token %></a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>