<div id="left_div">
  <h2><%= dashboard_title %></h2>
  <p>Member since <%= showdate(@user.created_at) %>.</p>
  
  <% if @late_assignments.present? %><%= render :partial => "late_assignments" %><% end %>
  <% if @upcoming_assignments.present? %><%= render :partial => "upcoming_assignments" %><% end %>
  <% if @recent_activity.present? %><%= render :partial => "recent_activities" %><% end %>
  
<%= render :partial=> "assignments/assignments_of_a_user" %>
</div>

<div id="right_div">
  <h2>Your Projects</h2>
  <div class="white">
    <% if @user.projects.blank? -%>
      <p>You are currently part of no projects.</p>
    <% else -%>
      <ul>
      <% @user.projects.each do |project| -%>
        <li><%= link_to "#{project.name}", project_path(project) %></li>
      <% end -%>
      </ul>
    <% end -%>
  </div>
  <div class="clear"></div>
</div>
