
<div id="left_div">
  <h2><%= dashboard_title %></h2>
  <p>Member since <%= showdate(@user.created_at) %>.</p>
  //show user data here
  <% if @late_assignments.present? %><%= render :partial => "late_assignments" %><% end %>
  <% if @upcoming_assignments.present? %><%= render :partial => "upcoming_assignments" %><% end %>
  <% if @recent_activity.present? %><%= render :partial => "recent_activities" %><% end %>
</div>

<div id="right_div">
  <% if @user.pending_memberships.present? -%>
    <h2>Invitations</h2>
    <ul class="white">
    <% @user.pending_memberships.each do |invite| -%>
      <li>
        <%= link_to invite.project.name, project_path(invite.project) %>
        (<%= link_to "accept", project_membership_path(invite.project,invite,:accept => true), :method => :put, :title => "Accept #{invite.project.name} invitation" %>|<%= link_to "reject", project_membership_path(invite.project,invite), :method => :delete, :title => "Reject #{invite.project.name} invitation" %>)
      </li>
    <% end -%>
    </ul>
  <% end -%>

  <%= render :partial=> "user_side_bar" %>
  <div class="clear"></div>
</div>



