<div class="information box">
<h3><%= link_to @task.name, project_task_path(@task.project, @task) %></h3>
<p>
  <b>Belongs to project: </b>
  <%= link_to @task.project.name, project_path(@task.project) %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.desc %>
</p>

<p>
  <b>Duration:</b>
  <strong> <%=h showtime(@task.start_time) %> </strong> till <strong> <%=h showtime(@task.due_by) %> </strong>
</p>

<p>
  <b>Completed At:</b>
  <%= @task.completed_at ? showtime(@task.completed_at) : "Not Completed" %>
</p>
</div>