<h2><%=h @task.name %></h2>
<p>
  <b>Project:</b>
  <%=h @task.project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.desc %>
</p>

<p>
  <b>Due By:</b>
  <%=h showtime(@task.due_by) %>
</p>

<p>
  <b>Completed At:</b>
  <%=h "Not Completed" unless @task.completed_at %>
</p>