<p>
  <b>Project:</b>
  <%=h @task.project.name %>
</p>

<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @task.desc %>
</p>

<p>
  <b>Due By:</b>
  <%=h @task.due_by %>
</p>

<p>
  <b>Completed At:</b>
  <%=h @task.completed_at %>
</p>

<h2>Listing Assignments</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Owner</th>
    <th>Due</th>
    <th>Completed At</th>
    <th colspan="3">Admin</th>
  </tr>

<% @assignments.each do |assig| %>
  <tr>
    <td><%=h assig.name %></td>
    <td><%=h assig.desc %></td>
    <td>
      <% if assig.user.present? %>
        <%=h assig.user.name %>
      <% else %>
        <%= link_to 'Take', take_project_task_assignment_path(@task.project,@task,assig) %>
      <% end %>
    </td>
    <td><%=h assig.due_by %></td>
    <td><%=h assig.completed_at %></td>
    <td><%= link_to 'Show', project_task_assignment_path(@task.project_id,@task,assig) %></td>
    <td><%= link_to 'Edit', edit_project_task_assignment_path(@task.project_id,@task,assig) %></td>
    <td><%= link_to 'Destroy', project_task_assignment_path(@task.project_id,@task,assig), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_project_task_path(@task.project,@task) %> |
<%= link_to 'Back', project_tasks_path(@task.project) %> |
<%= link_to 'New Assignment', new_project_task_assignment_path(@task.project, @task) %>