<% if logged_in? -%>
  <div id="user-bar">
    Logged in as <%= link_to current_user.login, dashboard_path %>
    (<%= link_to "Log out", logout_path, { :title => "Log out" } %>)
  </div>
<% else -%>
  <div id = "user-bar">
    <%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %>
    <%= link_to "Log in",  login_path,  { :title => "Log in" } %> /
    <%= link_to "Sign up", signup_path, { :title => "Create an account" } %>
  </div>
<% end -%>
<div class="content">Current time: <span id="date"><%=Date.today%> </span><span id="clock">&nbsp;</span></div>
