<div id="left_div">

  <%=  render :partial => "late_assignments" %>
  <%=  render :partial => "upcoming_assignments" %>
  <%=  render :partial => "recent_activities" %>

  <p>Member since <%= @user.created_at %>.</p>
    <h3>Assignments:</h3>
    <ul>
    <% @user.assignments.each do |assig| -%>
      <li><%= link_to "#{assig.name}", project_task_assignment_path(assig.task.project,assig.task) %></li>
    <% end -%>
    </ul>
</div>

<div id="right_div">
    <h3>Your Projects</h3>
    <ul>
    <% @user.projects.each do |project| -%>
      <li><%= link_to "#{project.name}", project_path(project) %></li>
    <% end -%>
    </ul>
</div>