<%= render :partial => "assignments/assignment_info" %>

<h3>Assignment</h3>
<p>
  <%= @assignee.present? ? "Currently assigned to: #{link_to @assignee.name, user_path(@assignee)}"  : "Not assigned" %>
</p>
<% if logged_in? and current_user.is_owner?(@assignment.task.project) or current_user.is_manager?(@assignment.task)%>
  <%= render :partial => "assign" %>
<% end %>


<%= link_to 'Edit', edit_project_task_assignment_path(@assignment.task.project, @assignment.task, @assignment) %> |
<%= link_to 'Back', project_task_path(@assignment.task.project, @assignment.task) %>