<div id="left_div">
  <h3>Project Description
    <% if logged_in? and current_user.is_owner?(@project) %>
      (<%= link_to 'Edit', edit_project_path(@project) %>)
    <% end %>
  </h3>
  <%= render :partial => "projects/project_info" %>
  
  <h3>Tasks
    <% if logged_in? and current_user.is_owner?(@project) %>
      (<%= link_to 'New Task', new_project_task_path(@project) %>)
    <% end %>
  </h3>
  <%= render :partial => 'tasks/tasks' %>

</div>

<div id="right_div">
  <%= render :partial => 'bar' %>
</div>
