<div id="left_div">
  <h3>Project Description</h3>
  <%= simple_format(@project.desc) %>
  
  <h3>Tasks</h3>
  <%= render :partial => 'tasks/tasks' %>
  
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %> |
  <%= link_to 'View Tasks', project_tasks_path(@project) %>
  <% if current_user.present? %>
    <% if @members.include?(current_user) -%>
    | <%= link_to 'Leave Project', leave_project_path(@project) %>
    <% else @members.include?(current_user) -%>
    | <%= link_to 'Join Project', join_project_path(@project) %>
    <% end -%>
  <% end -%>
</div>

<div id="right_div">
  <%= render :partial => 'bar' %>
</div>
