<h2><%=h @project.name %></h2>
<ul class="white">
  <%=h @project.public ? 'Public Project' : 'Private Project' %>
  <li>Due Date: <%= showtime(@project.due_by) %></li>
</ul>
<% if logged_in? and @project.users.include?(current_user) -%>
  <p class="white"><%= link_to "Leave Project", leave_project_path(@project) %></p>
  <h3>Your Tasks</h3>
  <ul class="white">
    <% current_user.assignments.select{|assignment| assignment.task.project == @project}.each do |assignment| %>
      <li>
        <%= link_to "#{assignment.name}", project_task_assignment_path(@project,assignment.task,assignment) %> (Due <%= assignment.due_by %>)
      </li>
    <% end -%>
  </ul>
  <h3>Current Members</h3>
  <ul class="white">
    <% @project.memberships.each do |member| -%>
      <li>
        <%= member.user.name %>
        <% if member.is_owner? %>
          (Admin)
        <% elsif member.is_pending? %>
          (Pending)
        <% elsif member.is_request? %>
          (Requested)
        <% end %>
      </li>
    <% end -%>
  </ul>
  <% if logged_in? and current_user.is_owner?(@project) %><p class="white"><%= link_to "Invite Members", new_project_membership_path(@project) %> | <%= link_to "Manage Members", project_memberships_path(@project) %></p><% end %>
  <h3>Project Discussion</h3>
  <ul class="white">
    <% @project.discussions.each do |discussion| %>
      <li>
        <%= link_to "#{discussion.title}", project_discussion_path(@project,discussion) %>
      </li>
    <% end -%>
      <li>&nbsp;</li>
      <li>
        <strong><%= link_to "Create a Discussion", new_project_discussion_path(@project) %></strong>
      </li>
  </ul>
<% elsif logged_in? -%>
  <p class="white"><%= link_to "Join Project", join_project_path(@project) %></p>
<% end -%>
