<h1>Listing dependencies</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Prerequisite</th>
  </tr>

<% @dependencies.each do |dependency| %>
  <tr>
    <td><%=h dependency.task_id %></td>
    <td><%=h dependency.prerequisite_id %></td>
    <td><%= link_to 'Show', dependency %></td>
    <td><%= link_to 'Edit', edit_dependency_path(dependency) %></td>
    <td><%= link_to 'Destroy', dependency, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dependency', new_dependency_path %>